*{
    max-width: 100%;
}

.logo{
    height: 75px;
    border-radius: 100%;
}

.navbar .navbar-brand{
    color: #fff;
    font-size: 300%;
    margin-left: 30%;
    transition: 0.2s;
}

.navbar .navbar-brand:hover{
    color: #f00;
}

.container{
    margin:15% 10% 0 10%;
    /* margin-top: 20%; */
}

.container div{
    text-align: center;
    font-size: 200%;
}

.container div a{
    padding: 2%;
    border: 3px solid #000;
    border-radius: 15px;
    text-decoration: none;
}
table{
    align-content: center;
}
.pic1{
    display: inline;
    position:relative;
    left: 30px;
}
.pic2{
    display: inline;
    position: relative;
    left:220px;
    
}
.pic3{
    display: inline;
    position: relative;
    left: 380px;
}